<ul class="nav nav-tabs" role="tablist">
  <% if (user.role === "Admin" || user.role === "Teacher" || user.role === "Student") { %>
    <li class="nav-item">
      <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
    </li>
  <% } %>

  <% if (user.role === "Admin" || user.role === "Teacher") { %>
   
  <% } %>

  <% if (user.role === "Admin") { %>

  <% } %>
</ul>
